Django
psycopg2-binary>=2.9.9
djangorestframework
django-cors-headers
django-apscheduler
django-allauth
dj-rest-auth[Google]
cryptography
djangorestframework-simplejwt
requests
dotenv
ollama
psycopg2-binary 
pgvector 
httpx
starlette
SpeechRecognition
gtts
pydub
gunicorn
dj_database_url

pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest-asyncio==0.21.1
pytest-timeout==2.2.0
pytest-xdist==3.5.0  


django-test-plus==2.2.2
factory-boy==3.3.0  # For creating test data
faker==20.1.0  # For generating fake data

# Code quality
pytest-pylint==0.21.0
pytest-flake8==1.1.1
black==23.12.1
isort==5.13.2

# Coverage reporting
coverage==7.3.3
coverage-badge==1.1.0

# Mock and fixtures
responses==0.24.1  # For mocking HTTP requests
freezegun==1.4.0  # For mocking datetime
